@import './Modules/reset.scss';
@import './Modules/variables.scss';
@import './Modules/base.scss';
@import './Modules/elements.scss';



.person {
    padding: 10px 0 5px;
    font-weight: 700;

}


.header {
    display: flex;
    flex-direction: column;
    background-color: var(--black-background);
    color: white;

    position: sticky;
    top: 0;
}

.nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    padding-block: 20px;
}


.nav-link {
    text-decoration: none;
    color: inherit;
    transition: color .5s;

    &:hover {
        color: var(--on-hover-link);
    }
}

.presentation-section {
    background-color: var(--blue-background);

}

.skills-section {
    background-color: var(--pink-background);

}
.studies-section {
    background-color: var(--green-background);
}

.skills-box {
    display: grid;
    justify-items: center;
}
@media only screen and (min-width: 660px) {
    .skills-box {
        grid-template-columns: 1fr 1fr;
    }
}
.skill {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-bottom: 12px;
}

.picture {
    height: 7em;
}

.laravel {
    fill: red;
}

.react {
    fill: rgb(97, 219, 251);
}

.footer {
    background-color: var(--black-background);
    color: white;
    padding: 16px 0;
    text-align: center;

}