/* @import './reset.css';*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

/* this line is here to handle dark mode */
@custom-variant dark (&:where(.dark, .dark *));

@theme {

  --font-inter: "Inter", sans-serif;

  --color-disabled: #989898;
  --color-light-paragraph: black;

  --color-dark-paragraph: white;
  --color-dark-bg: #0f0f0f;
  --color-dark-lighter-bg: #282828;

}

.inactive-link {
  color: var(--color-disabled);
}