@import './reset.css';

:root {
  --primary-color: #ff6b6b;
  --secondary-color: #ffe66d;

}



.header {
  background-color: var(--primary-color);
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 12px;
  padding-inline: 16px;
  font-family: "Inter", sans-serif;

}

.presentation-container {
  display: grid;
  gap: 64px;
}

.i-am-text {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 12px;
}

.i-am-list {
  list-style-type: disc;
  list-style-position: inside;
  font-weight: 300;

  display: grid;
  gap: 12px;
}

.me-section {
  display: flex;
  gap: 32px;
  font-size: 32px;
  align-items: center;
}

.me {
  border-radius: 16px;
}

.language-section, .webdev, .bitcoin-section {
  font-size: 32px;
}

.choose-language, .framework-images, .bitcoin-logo-container  {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 28px;
}
.choose-language a {
  text-decoration: none;
}
.choose-language a:not(.active-link) {
  color: rgb(150, 150, 150);
}
.active-link {
  color: black;
}
