.section {
    width: 100%;
    padding-block: 1.5em;

    --container-padding: 24px
    --container-width: calc(100% - var(--container-padding) * 2);
    padding-inline: calc(50% - var(--container-width) / 2);
    
}

@media only screen and (min-width: 1) {
    .section {
        --container-width: 1000px;
    }
} 

.title {
    text-align: center;
    padding-block: 0.25em;
}

.blue-text {
    color: var(--blue-text);
}

.big {
    font-size: 3rem;
}
.medium {
    font-size: 1.5rem;
}

.small {
    font-size: 1.125rem;
}