:root {
    --on-hover-link: hsl(0, 0%, 90%);
    --border-color-gray: hsl(0, 0%, 80%);
    --blue-text: hsl(203, 100%, 50%);
    
    --black-background: hsl(0, 0%, 25%);
    --pink-background: hsl(0, 100%, 90%);
    --blue-background: hsl(200, 100%, 90%);
    --green-background: hsl(120, 100%, 90%);
}